body {
    background-color: #FFFFFF;
}

.menu-item {
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    background-color: #DDFFFF;
    padding: 5px;
    margin: 10px;
}

table.country {
   width: 100%;
    border-collapse: collapse; /* so we can control cellspacing in a practical way */
}

table.country th,
table.country td {
    padding: 5px;
    text-align: left;
    font-family: Arial, Verdana, sans-serif;
    border: 1px solid #000;
}

table.country th.first,
table.country td.name {
    border-left: 0;
}

table.country th.last,
table.country td.sign {
    border-right: 0;
}

table.country th {
    background-color: #ddd;
    color: #BB0000;
}

table.country tr.odd {
    background-color: #DDFFFF;
}

table.country tr.even {
    background-color: #FBFBFB;
}
