<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://java.sun.com/jsf/html">

<h:head>
    <title>List of Countries</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible"/>
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>
    <title>JSF CRUD Example</title>
    <style type="text/css">
        .tableUpdated {
            width: 90% !important;
            margin: 17px 58px 0 !important;
        }

        .btnSpace {
            margin: 17px;
        }
    </style>
</h:head>

<h:body>
    <h:outputStylesheet library="css" name="style.css"/>
    <p class="text-center"><h2><h:outputText value="List of countries"/></h2></p>
    <h:form id="form" prependId="false">
        <h:commandButton action="home?faces-redirect = true" value="Back To Home Page" styleClass="btn btn-success btnSpace"/>
        <h:dataTable value="#{countryController.dataList}" var="country"
                     rendered="#{countryController.dataList ne null}"
                     class="table table-striped table-hover table-bordered tableUpdated"
                     rowClasses="odd,even">
            <h:column headerClass="first">
                <f:facet name="header">
                    Country ID
                </f:facet>
                <h:outputText value="#{country.id}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Country Name
                </f:facet>
                <h:outputText value="#{country.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Country sign
                </f:facet>
                <h:outputText value="#{country.sign}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Update
                </f:facet>
                <h:commandButton action="#{countryController.update(country.id)}" value="Update" styleClass="btn btn-primary"/>
            </h:column>
            <h:column headerClass="last">
                <f:facet name="header">Delete</f:facet>
                <h:commandButton action="#{countryController.delete(country.id)}" value="Delete" styleClass="btn btn-danger"/>
            </h:column>
        </h:dataTable>
        <div class="pager">
            <h:commandButton value="first" action="#{countryController.pageFirst}"
                             disabled="#{countryController.currentPage==0}" styleClass="btn btn-success btnSpace"/>
            <h:commandButton value="prev" action="#{countryController.pagePrev}"
                             disabled="#{countryController.currentPage==0}" styleClass="btn btn-success btnSpace"/>
            <h:outputText value="&nbsp;" escape="false"/>
            <h:commandButton value="next" action="#{countryController.pageNext}"
                             disabled="#{countryController.currentPage eq countryController.totalPages-1}"
                             styleClass="btn btn-success btnSpace"/>
            <h:outputText value="&nbsp;" escape="false"/>
            <h:commandButton value="last" action="#{countryController.pageLast}"
                             disabled="#{countryController.currentPage eq countryController.totalPages-1}"
                             styleClass="btn btn-success btnSpace"/>
            <h:outputText value="&nbsp;" escape="false"/>
            <br/>
            <h:outputText value="Page #{countryController.currentPage+1} / #{countryController.totalPages}"/>
            <br/>

            <ui:repeat value="#{countryController.pages}" var="p">
                <h:commandLink value="#{p}" actionListener="#{countryController.page}"
                               rendered="${p != countryController.currentPage}"/>
                <h:outputText value="&lt;b&gt;#{p}&lt;/b&gt;" escape="false"
                              rendered="#{p == countryController.currentPage}"/>
                <h:outputText value="&nbsp;" escape="false"/>
            </ui:repeat>

            <br/>
            <h:outputLabel for="rowsPerPage" value="Rows per page"/>
            <h:inputText id="rowsPerPage" value="#{countryController.rowsPerPage}" size="3" maxlength="3"/>
            <h:commandButton value="Set" actionListener="#{countryController.pageFirst}" styleClass="btn btn-success btnSpace"/>
            <h:message for="rowsPerPage" errorStyle="color:red"/>
        </div>
        <div>
            <h:commandButton action="createcountry.xhtml?faces-redirect=true" value="Create New Country"
                             class="btn btn-success btnSpace"/>
        </div>
    </h:form>
</h:body>

</html>
