<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    <h:outputStylesheet library="css" name="bootstrap.min.css" />
    <title>JSF CRUD Example</title>
    <style type="text/css">
        .btnWidth {
            width: 80px;
        }
    </style>
</h:head>

<h:body>
    <h:form id="createCountryForm" styleClass="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>Create Country</h2>
            </div>
        </div>
        <div class="form-group">
            <h:outputLabel for="country-name" class="control-label col-sm-4">Name:</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText id="country-name" value="#{countryController.name}" class="form-control" validatorMessage="name is required">
                    <f:validateRequired/>
                </h:inputText>
            </div>
        </div>
        <div class="form-group">
            <h:outputLabel for="country-sign" class="control-label col-sm-4">Sign:</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText id="country-sign" value="#{countryController.sign}" class="form-control" validatorMessage="Sign is required">
                    <f:validateRequired/>
                </h:inputText>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="col-sm-2">
                    <h:commandButton value="Save" action="#{countryController.save(countryController)}" class="btn btn-success btnWidth" />
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <h:link outcome="countries" value="View countries List" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </h:form>
</h:body>
</html>
