<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    <h:outputStylesheet library="css" name="bootstrap.min.css" />
    <title>Edit Person</title>
    <style type="text/css">
        .updateBtnStyle {
            width: 80px !important;
        }
    </style>
</h:head>
<h:body>
    <h:form id="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <h2 style="text-align: center" class="col-sm-4">Edit Person Record</h2>
        </div>
        <hr/>
        <h:inputHidden id="id" value="#{editRecord.id}" />
        <div class="form-group">
            <h:outputLabel for="country-name" class="control-label col-sm-4">Name:</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText id="country-name" value="#{editRecord.name}" class="form-control"
                             validatorMessage="name is required">
                    <f:validateRequired/>
                </h:inputText>
            </div>
        </div>
        <div class="form-group">
            <h:outputLabel for="country-sign" class="control-label col-sm-4">Address:</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText id="country-sign" value="#{editRecord.address}" class="form-control" validatorMessage="Address is required">
                    <f:validateRequired/>
                </h:inputText>
            </div>
        </div>

        <div class="form-group">
            <h:outputLabel for="country" class="control-label col-sm-4">Country:</h:outputLabel>
            <div class="col-sm-4">
                <h:selectOneMenu value="#{personController.countryId}" id="country">
                    <f:selectItems value="#{personController.countries}" var="country" itemValue="#{country.id}" itemLabel="#{country.name}"/>
                </h:selectOneMenu>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h:commandButton value="Update" action="#{personController.updatePerson(editRecord)}" class="btn btn-primary updateBtnStyle" />
            </div>
            <div class="col-sm-2">
                <h:link outcome="persons" value="View person list" class="btn btn-primary" />
            </div>
        </div>
    </h:form>
</h:body>
</html>
