<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <f:facet name="first">
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title>Main menu</title>
    </f:facet>
    <h:outputStylesheet library="css" name="style.css"/>
</h:head>
<h:body>
    <h2>First Maven application</h2>
    <hr/>
    <h:form>
        <h:commandLink action="#{navigationController.showPage}"
                       styleClass="menu-item"
                       value="Home">
            <f:param name="pageId" value="3"/>
        </h:commandLink>

        <h:commandLink action="#{navigationController.showPage}"
                       styleClass="menu-item"
                       value="countries">
            <f:param name="pageId" value="1"/>
        </h:commandLink>


        <h:commandLink action="#{navigationController.showPage}"
                       styleClass="menu-item"
                       value="persons">
            <f:param name="pageId" value="2"/>
        </h:commandLink>

        <h:commandLink action="#{navigationController.showPage}"
                       styleClass="menu-item"
                       value="Logout"
                       rendered="#{navigationController.logoutRendered}">
            <f:param name="pageId" value="99"/>
        </h:commandLink>

    </h:form>
    <br/>
</h:body>

</html>
