<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div>
        <ui:include src="countries.xhtml"/>
        <ui:include src="persons.xhtml"/>
<!--        <ui:include src="companies.xhtml"/>-->
    </div>
</ui:composition>
