<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>List of Persons</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible"/>
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>
    <title>List of persons</title>
    <style type="text/css">
        .tableUpdated {
            width: 90% !important;
            margin: 17px 58px 0 !important;
        }
        .btnSpace {
            margin: 17px;
        }
    </style>
</h:head>
<h:body>
    <p class="text-center"><h2><h:outputText value="List of persons"/></h2></p>
    <h:form id="form" prependId="false">
        <h:commandButton action="home?faces-redirect = true" value="Back To Home Page" styleClass="btn btn-success btnSpace"/>
        <h:dataTable value="#{personController.dataList}" var="person"
                     rendered="#{personController.dataList ne null}"
                     class="table table-striped table-hover table-bordered tableUpdated"
                     rowClasses="odd,even">
            <h:column headerClass="first">
                <f:facet name="header">
                    person ID
                </f:facet>
                <h:outputText value="#{person.id}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Name
                </f:facet>
                <h:outputText value="#{person.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Address
                </f:facet>
                <h:outputText value="#{person.address}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Country
                </f:facet>
                <h:outputText value="#{person.country.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Update
                </f:facet>
                <h:commandButton action="#{personController.update(person.id)}" value="Update" styleClass="btn btn-primary"/>
            </h:column>
            <h:column headerClass="last">
                <f:facet name="header">Delete</f:facet>
                <h:commandButton action="#{personController.delete(person.id)}" value="Delete" styleClass="btn btn-danger"/>
            </h:column>
        </h:dataTable>
        <div class="pager">
            <h:commandButton value="first" action="#{personController.pageFirst}"
                             disabled="#{personController.currentPage==0}" styleClass="btn btn-success btnSpace"/>
            <h:commandButton value="prev" action="#{personController.pagePrev}"
                             disabled="#{personController.currentPage==0}" styleClass="btn btn-success btnSpace"/>
            <h:outputText value="&nbsp;" escape="false"/>
            <h:commandButton value="next" action="#{personController.pageNext}"
                             disabled="#{personController.currentPage eq personController.totalPages-1}"
                             styleClass="btn btn-success btnSpace"/>
            <h:outputText value="&nbsp;" escape="false"/>
            <h:commandButton value="last" action="#{personController.pageLast}"
                             disabled="#{personController.currentPage eq personController.totalPages-1}"
                             styleClass="btn btn-success btnSpace"/>
            <h:outputText value="&nbsp;" escape="false"/>
            <br/>
            <h:outputText value="Page #{personController.currentPage+1} / #{personController.totalPages}"/>
            <br/>

            <ui:repeat value="#{personController.pages}" var="p">
                <h:commandLink value="#{p}" actionListener="#{personController.page}"
                               rendered="${p != personController.currentPage}"/>
                <h:outputText value="&lt;b&gt;#{p}&lt;/b&gt;" escape="false"
                              rendered="#{p == personController.currentPage}"/>
                <h:outputText value="&nbsp;" escape="false"/>
            </ui:repeat>

            <br/>
            <h:outputLabel for="rowsPerPage" value="Rows per page"/>
            <h:inputText id="rowsPerPage" value="#{personController.rowsPerPage}" size="3" maxlength="3"/>
            <h:commandButton value="Set" actionListener="#{personController.pageFirst}" styleClass="btn btn-success btnSpace"/>
            <h:message for="rowsPerPage" errorStyle="color:red"/>
        </div>
        <div>
            <h:commandButton action="createperson.xhtml?faces-redirect=true" value="Create New Person"
                             class="btn btn-success btnSpace"/>
        </div>
    </h:form>

</h:body>
</html>
